# This file lists the dependencies required for the Python application.
# You can use this file to install the dependencies using `pip install -r requirements.txt`.

# Note grpcio is not the latest version, but more recent versions print out irrelevant warnings

# Common dependencies
pydub==0.25.1
numpy==1.26.4
scipy==1.15.2

# Google Speech API dependencies
google-cloud-speech==2.27.0
google-cloud-storage==2.18.0
absl-py==2.1.0
grpcio==1.63.0
setuptools==72.1.0

# FasterWhisper dependencies
faster-whisper==0.10.0
torch==2.2.0

# Speaker diarization (optional)
pyannote.audio==3.1.1
